<h1>Display your Pirate here</h1>
<div class="pirate">
  <h3>Name:   <%= @pirate.name %></h3><br>
  <h4>weight: <%= @pirate.weight %></h4>
  <h4>height: <%= @pirate.height %></h4>
</div><br>
 <h1>Ships</h1>
<h2>Ship One</h2>
<% @ships.each.with_index do |ship, index| %>
  <div class="ship">
    <% if index == 0 %>
     <h3>Name: <%= ship.name %></h3>
      <h4>Type: <%= ship.type %></h4>
      <h4>Booty: <%= ship.booty %></h4>
      
      <h2>Ship Two</h2>
      <% else %>
       <h3>Name: <%= ship.name %></h3>
      <h4>Type: <%= ship.type %></h4>
      <h4>Booty: <%= ship.booty %></h4>
     <% end %>
   </div>
<% end %>